<%= render 'notifications_mailer/shared/hello', recipient: @user %>

<p><%= t('.instruction')%> </p>

<p><%= link_to t('.action'), "#{Rails.application.secrets.default_protocol}://#{Rails.application.secrets.default_host}/#!/?reset_password_token=#{@token}" %></p>

<p><%= t('.ignore_otherwise') %></p>
