# Commit 14
<!-- app/views/notifications_mailer/notify_user_order_reminder.html.erb -->
<p>Bonjour <%= @recipient.profile.full_name %>,</p>

<p>Ceci est un rappel concernant votre commande (référence : <%= @order.reference %>) marquée comme "Prêt effectué".</p>
<p>Il vous reste <strong>2 minutes</strong> pour retourner l’article emprunté. Merci de le faire rapidement.</p>

<p>Cordialement,<br>L’équipe <%= Setting.get('fablab_name') %></p>
<p><small>Ceci est un message automatique, merci de ne pas y répondre.</small></p>