<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p>
  <%= t('.body.notify_user_order_is_canceled', REFERENCE: @attached_object.order.reference) %>
</p>

<% if @attached_object.note.present? %>
<p>
  <strong><%= t('app.notification.notify_user_order_is_canceled.reason', default: 'Raison') %>:</strong> <%= @attached_object.note %>
</p>
<% end %> 
